* {
    box-sizing: border-box;
}

body{
    align-items: center;
    align-content: center;
}

div{
    background-position: center;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}

.external-div{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    margin-top: 50px;
}

.title-div{
    margin: auto;
    margin-bottom: 100px;
    padding: auto;
}

.internal-div{
    padding: 20px 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: x-large;
}
